
BinBall.xcodeproj/xcshareddata/xcbaselines/098949BC2331384E00FDB34F.xcbaseline/D4C019B8-2088-4BF4-B12A-1D36FEB31539.plist

BinBall.xcodeproj/xcuserdata/j.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BinBall.xcodeproj/xcuserdata/j.xcuserdatad/xcschemes/xcschememanagement.plist

BinBall.xcworkspace/contents.xcworkspacedata

BinBall.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

BinBall.xcworkspace/xcuserdata/j.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
